In [1]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/insa-ml-2025-regression/sample_submission.csv
/kaggle/input/insa-ml-2025-regression/train.csv
/kaggle/input/insa-ml-2025-regression/test.csv

# Managine the data

## Loading the training dataset

In [2]:
train_path = '/kaggle/input/insa-ml-2025-regression/train.csv'
data = pd.read_csv(train_path)

data.describe()

,id,max_power,weight_min,weight_max,urb_cons,exturb_cons,overall_cons,co,hc,nox,hcnox,ptcl,co2
count,41257.000000,41257.000000,41257.000000,41257.000000,41251.000000,41251.000000,41257.000000,41171.000000,7367.000000,41171.000000,33841.000000,39292.000000,41257.000000
mean,20628.000000,118.982960,2102.832901,2342.408609,9.570216,6.728448,7.761779,0.181025,0.026455,0.300336,0.233684,0.000896,201.636086
std,11910.014365,45.282568,293.810948,423.303792,2.079990,1.035866,1.378721,0.145250,0.019502,0.418976,0.037348,0.000994,33.906550
min,0.000000,28.000000,825.000000,825.000000,0.000000,2.800000,0.600000,0.005000,0.000000,0.000000,0.000000,0.000000,13.000000
25%,10314.000000,100.000000,1982.000000,2075.000000,8.800000,6.500000,7.300000,0.061000,0.008000,0.197000,0.216000,0.000000,193.000000
50%,20628.000000,120.000000,2076.000000,2355.000000,9.400000,6.900000,7.800000,0.137000,0.029000,0.214000,0.239000,0.001000,205.000000
75%,30942.000000,120.000000,2246.000000,2709.000000,10.200000,7.200000,8.300000,0.297000,0.042000,0.228000,0.253000,0.001000,216.000000
max,41256.000000,585.000000,2760.000000,3094.000000,41.099998,14.900000,24.500000,0.968000,0.510000,1.846000,0.570000,0.023000,572.000000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41257 entries, 0 to 41256
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                41257 non-null  int64
 1   brand             41257 non-null  object
 2   model             41257 non-null  object
 3   car_class         41257 non-null  object
 4   range             41257 non-null  object
 5   fuel_type         41257 non-null  object
 6   hybrid            41257 non-null  object
 7   max_power         41257 non-null  float64
 8   grbx_type_ratios  41257 non-null  object
 9   weight_min        41257 non-null  int64
 10  weight_max        41257 non-null  int64
 11  urb_cons          41251 non-null  float64
 12  exturb_cons       41251 non-null  float64
 13  overall_cons      41257 non-null  float64
 14  co                41171 non-null  float64
 15  hc                7367 non-null   float64
 16  nox               41171 non-null  float64
 17  hcnox             33841 non-null  float64
 18  ptcl              39292 non-null  float64
 19  co2               41257 non-null  int64
dtypes: float64(9), int64(4), object(7)
memory usage: 6.3+ MB

In [4]:
data.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,id,brand,model,car_class,range,fuel_type,hybrid,max_power,grbx_type_ratios,weight_min,weight_max,urb_cons,exturb_cons,overall_cons,co,hc,nox,hcnox,ptcl,co2
0,0,MERCEDES,COMBI 110 CDI,MINIBUS,MOY-INFER,GO,non,70.0,M 6,1976,2075,9.1,6.4,7.4,0.083,NaN,0.229,0.250,0.001,195
1,1,MERCEDES,VIANO 2.0 CDI,MINIBUS,MOY-SUPER,GO,non,100.0,A 5,2186,2355,10.2,7.0,8.2,0.078,NaN,0.224,0.233,0.001,216
2,2,MERCEDES,SPRINTER COMBI 319 CDI,MINIBUS,MOY-INFER,GO,non,140.0,A 5,2586,2869,12.5,9.0,10.3,0.067,0.014,1.846,NaN,0.002,272
3,3,RENAULT,MEGANE Coupé EnergyTCe (115ch) eco2,COUPE,MOY-INFER,ES,non,85.0,M 6,1280,1280,6.4,4.6,5.3,0.167,0.039,0.039,NaN,0.001,119
4,4,MERCEDES,COMBI 116 CDI,MINIBUS,MOY-INFER,GO,non,120.0,A 5,2356,2450,10.1,6.9,8.1,0.042,NaN,0.190,0.201,0.001,214

In [5]:
#data = data.dropna(axis=0) #NE PAS FAIRE, on obtient 32 lignes...

In [6]:
data=data.drop(columns=['grbx_type_ratios', 'brand', 'model', 'car_class', 'range', 'fuel_type', 'hc'])

In [7]:
data["hybrid"] = data["hybrid"].replace(['non', 'oui'], [0, 1])
data=data.dropna(axis=0)
data.head()
data.describe()

<ipython-input-7-ba5a82f9019d>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["hybrid"] = data["hybrid"].replace(['non', 'oui'], [0, 1])

,id,hybrid,max_power,weight_min,weight_max,urb_cons,exturb_cons,overall_cons,co,nox,hcnox,ptcl,co2
count,33836.000000,33836.000000,33836.000000,33836.000000,33836.000000,33836.000000,33836.000000,33836.000000,33836.000000,33836.00000,33836.000000,33836.000000,33836.000000
mean,20626.299533,0.001891,110.637363,2105.269890,2363.662194,9.250047,6.659691,7.598977,0.173798,0.21030,0.233715,0.000683,199.979164
std,11925.890823,0.043451,22.962950,220.992665,356.793576,1.345839,0.813015,0.982133,0.140222,0.03543,0.037262,0.000570,25.999237
min,0.000000,0.000000,40.000000,845.000000,845.000000,0.000000,2.800000,1.800000,0.005000,0.02100,0.000000,0.000000,48.000000
25%,10270.750000,0.000000,100.000000,2025.000000,2185.000000,8.800000,6.500000,7.300000,0.046000,0.19700,0.216000,0.000000,193.000000
50%,20637.500000,0.000000,120.000000,2076.000000,2355.000000,9.400000,6.800000,7.700000,0.137000,0.21400,0.239000,0.001000,203.000000
75%,30954.500000,0.000000,120.000000,2186.000000,2709.000000,10.000000,7.200000,8.200000,0.312000,0.22600,0.253000,0.001000,216.000000
max,41256.000000,1.000000,405.000000,2680.000000,2859.000000,19.100000,9.800000,12.700000,0.920000,0.92000,0.570000,0.010000,297.000000

In [8]:
corr_matrix = data.corr()['co2']
corr_matrix

id             -0.002127
hybrid         -0.135512
max_power       0.071771
weight_min      0.694039
weight_max      0.565527
urb_cons        0.968751
exturb_cons     0.959053
overall_cons    0.999561
co             -0.181780
nox             0.708196
hcnox           0.630246
ptcl            0.178812
co2             1.000000
Name: co2, dtype: float64

# Le Model

In [9]:
data.columns

Index(['id', 'hybrid', 'max_power', 'weight_min', 'weight_max', 'urb_cons',
       'exturb_cons', 'overall_cons', 'co', 'nox', 'hcnox', 'ptcl', 'co2'],
      dtype='object')

In [10]:
y = data.co2
data_features=['max_power', 'weight_min', 'weight_max', 'urb_cons',
       'exturb_cons', 'overall_cons', 'nox', 'hcnox', 'ptcl']
X = data[data_features]

In [11]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [12]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1, test_size=0.2)

co2_model_DTR = DecisionTreeRegressor()
co2_model_DTR.fit(train_X, train_y)
val_predictions = co2_model_DTR.predict(val_X)
val_mae = mean_absolute_error(val_y, val_predictions)
print(val_mae)

0.0491445765318384